!!!5
%html
  %head>
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title= current_page.data.title
    %link{href: "/stylesheets/normalize.css", rel: "stylesheet"}
    %link{href: "/stylesheets/all.css", rel: "stylesheet"}
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
  
  %body

    = partial "partials/nav_home"

    - if current_page.data.grayBackground == true
      = partial "partials/gray_background"

    = yield
    
    = partial "partials/footer" 