%ul
  %li.title
    = link_to "documentation home", "/", class: 'title-inside'
  %li.title
    -if current_page.data.docs_cli_active == true
      = link_to "commands (CLI)", "/documentation/cli", class: "active title-inside"
    - else
      = link_to "commands (CLI)", "/documentation/cli", class: 'title-inside'
    %ul
      %li 
        -if current_page.data.docs_cli_scan_active == true
          = link_to "Scan", "/documentation/cli/scan", class: "active"
        - else
          = link_to "Scan", "/documentation/cli/scan"
      %li 
        -if current_page.data.docs_cli_bluetooth_active == true
          = link_to "Bluetooth", "/documentation/cli/bluetooth", class: "active"
        - else
          = link_to "Bluetooth", "/documentation/cli/bluetooth"
      %li 
        -if current_page.data.docs_cli_arduino_active == true
          = link_to "Arduino", "/documentation/cli/arduino", class: "active"
        - else
          = link_to "Arduino", "/documentation/cli/arduino"
      %li 
        -if current_page.data.docs_cli_spark_active == true
          = link_to "Spark", "/documentation/cli/spark", class: "active"
        - else
          = link_to "Spark", "/documentation/cli/spark"
      %li 
        -if current_page.data.docs_cli_digispark_active == true
          = link_to "Digispark", "/documentation/cli/digispark", class: "active"
        - else
          = link_to "Digispark", "/documentation/cli/digispark"
      %li 
        -if current_page.data.docs_cli_crazyflie_active == true
          = link_to "Crazyflie", "/documentation/cli/crazyflie", class: "active"
        - else
          = link_to "Crazyflie", "/documentation/cli/crazyflie"
      %li 
        -if current_page.data.docs_cli_klaatu_active == true
          = link_to "Klaatu", "/documentation/cli/klaatu", class: "active"
        - else
          = link_to "Klaatu", "/documentation/cli/klaatu"
      %li 
        -if current_page.data.docs_cli_help_active == true
          = link_to "Help", "/documentation/cli/help", class: "active"
        - else
          = link_to "Help", "/documentation/cli/help"
  %li.title
    -if current_page.data.docs_contributing_active == true
      = link_to "contributing", "/documentation/getting_started/contributing", class: "active title-inside"
    - else
      = link_to "contributing", "/documentation/getting_started/contributing", class: 'title-inside'
  %li.title
    -if current_page.data.docs_contact_usg_active == true
      = link_to "contact us", "/documentation/getting_started/contact_us", class: "active title-inside"
    - else
      = link_to "contact us", "/documentation/getting_started/contact_us", class: 'title-inside'
    